**/node_modules
**/dist
**/.task
**/*.db
**/*.db-journal
**/*.db-wal
**/*.db-shm
**/coverage
.git
.gitignore
.env
.env.local
.editorconfig
.vscode
.idea
.DS_Store
**/*.test.ts
**/*.test.tsx
.woodpecker
docs
CLAUDE.md
README.md
*.md
